# Dependencies
node_modules/

# IDE
.idea/
.editorconfig

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
consolelog.txt
# Env
.env
.env.local

ai-text-plugin/
.vscode/
.github/*
!.github/workflows
!.github/workflows/**
super-fetch-plugin/
continue-generator/
other-coder-perchance-generator/